
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen';
}

ul{
  list-style-type: none;
}
.primary-btn{
  padding: 12px 24px;
  color: white;
  background-color: #0E1035;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}
.secondary-btn{
  padding: 12px 24px;
  color: #0E1035;
  background-color: transparent;
  border: 2px solid #0E1035;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.primary-btn:active{
  background-color: #21234e;
  box-shadow: 0px 0px 1px rgb(0, 0, 0,.2px);
}
.secondary-btn:active{
  background-color: #cccde2;
  box-shadow: 0px 0px 1px rgb(0, 0, 0,.2px);
}
.container{
  max-width: 1080px;
  margin: auto;
}